{% extends "layout.html" %}
{% block content %}

<form method="POST" action="http://{{ render_dict["localip"] }}:{{ render_dict["port"] }}/bookadd">
<table class="table" id="inputbook">
<tr><td><label class="control-label">ISBN:</label></td> <td><input class="form-control" placeholder="ISBN" type="text" id="isbn" name="isbn"></input></td></tr>
</table>
<input class="btn btn-primary" type="submit" value="Submit"></input>
</form>

<script type="text/javascript">
function fGoHome() {
    window.location.assign("http://{{ render_dict["localip"] }}:{{ render_dict["port"] }}/");
}

function AutoCompleteInit() {
  LoadJSON(function(response){
    json_arrays = JSON.parse(response);
    actb(document.getElementById('isbn'), json_arrays["words"]);
  });
}
</script>
{% endblock %}
